$blue_lagoon: #048383;
$surfie_green: #098081;
$woodsmoke: #111117;
$shark: #1D2528;
$cape_cod: #434747;
$abbey: #4E4F52;
$fountain_blue: #52BABB;
$smalt_blue: #568597;
$tradewind: #60A9AD;
$mid_gray: #626165;
$salt_box: #676669;
$cape_palliser: #A36B4C;
$copper: #AD6A35;
$silver_sand: #BCBDBD;
$di_serria: #DA945C;
$gray_nurse: #E7EEE9;
$texas_rose: #FEAC61;
$white: #FFFFFF;